<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Aplikacija.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
  <userSettings>
    <Aplikacija.Properties.Settings>
      <setting name="menuStripBoja" serializeAs="String">
        <value>MenuHighlight</value>
      </setting>
      <setting name="BojaPozadine" serializeAs="String">
        <value>SkyBlue</value>
      </setting>
      <setting name="BojaStatusMenija" serializeAs="String">
        <value>White</value>
      </setting>
      <setting name="TabSkeniranje" serializeAs="String">
        <value>MenuHighlight</value>
      </setting>
      <setting name="TabListaSkeniranja" serializeAs="String">
        <value>MenuHighlight</value>
      </setting>
      <setting name="TabOtvoriListu" serializeAs="String">
        <value>MenuHighlight</value>
      </setting>
      <setting name="TabMuzickiPlayer" serializeAs="String">
        <value>MenuHighlight</value>
      </setting>
      <setting name="TabPdfCitac" serializeAs="String">
        <value>MenuHighlight</value>
      </setting>
      <setting name="TabWebPretrazivac" serializeAs="String">
        <value>MenuHighlight</value>
      </setting>
      <setting name="TabInformacije" serializeAs="String">
        <value>MenuHighlight</value>
      </setting>
      <setting name="adresaListe" serializeAs="String">
        <value />
      </setting>
      <setting name="adresaPdfFajl" serializeAs="String">
        <value />
      </setting>
      <setting name="nazivFoldera" serializeAs="String">
        <value />
      </setting>
      <setting name="folderPostoji" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="adresaZaPretrazivanje" serializeAs="String">
        <value />
      </setting>
    </Aplikacija.Properties.Settings>
  </userSettings>
</configuration>